In [3]:
#Import Libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
traindf = pd.read_csv('train.csv')
testdf = pd.read_csv("test.csv")
ssdf = pd.read_csv('Sample_submission.csv')

In [5]:
from sklearn.preprocessing import LabelEncoder

for column in traindf.columns:
        if traindf[column].dtype == np.number:
            continue
        traindf[column] = LabelEncoder().fit_transform(traindf[column])

In [6]:
#Create a new column at the end of the dataframe that contains the same value 
traindf['Age_Years'] = traindf['Age']
#Remove the first column called age 
traindf = traindf.drop('Age', axis = 1)
#Show the dataframe
traindf

,Id,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,...,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,CommunicationSkill,Behaviour,Age_Years
0,0,0,0,1,1,2,3,288,2,0,...,0,12,2,11,7,6,7,3,0,12
1,1,0,2,1,11,3,1,778,2,0,...,2,7,2,3,2,1,1,1,0,18
2,2,1,2,2,1,0,3,423,2,1,...,0,12,3,9,7,7,3,4,0,37
3,3,0,2,1,23,0,1,971,0,1,...,0,18,2,7,7,1,7,3,0,21
4,4,0,2,1,2,2,4,352,2,1,...,1,10,2,10,7,7,8,0,0,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1623,1623,1,1,1,18,2,3,385,2,1,...,0,7,2,2,2,2,2,2,0,24
1624,1624,1,2,2,1,0,3,423,2,1,...,0,12,3,9,7,7,3,4,0,37
1625,1625,1,2,2,8,1,1,696,0,1,...,0,6,2,3,2,2,2,4,0,7
1626,1626,1,2,0,12,2,0,890,0,1,...,3,4,3,2,2,2,0,4,0,11
1627,1627,1,2,1,17,0,3,159,2,1,...,0,4,3,4,3,0,1,1,0,11

In [12]:
from sklearn.metrics import accuracy_score,roc_auc_score,roc_curve
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
target = traindf['Attrition']
features = traindf.drop('Attrition', axis = 1)
#create the train/test split
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.4, random_state=0)
#Create the model and train
model = RandomForestClassifier()
model.fit(X_train,y_train)
#predict the results for test
test_pred = model.predict_proba(X_test)

In [13]:
target

0       0
1       0
2       1
3       0
4       0
       ..
1623    1
1624    1
1625    1
1626    1
1627    1
Name: Attrition, Length: 1628, dtype: int32

In [14]:
features

,Id,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,JobInvolvement,...,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,CommunicationSkill,Behaviour,Age_Years
0,0,0,1,1,2,3,288,2,0,2,...,0,12,2,11,7,6,7,3,0,12
1,1,2,1,11,3,1,778,2,0,2,...,2,7,2,3,2,1,1,1,0,18
2,2,2,2,1,0,3,423,2,1,2,...,0,12,3,9,7,7,3,4,0,37
3,3,2,1,23,0,1,971,0,1,2,...,0,18,2,7,7,1,7,3,0,21
4,4,2,1,2,2,4,352,2,1,2,...,1,10,2,10,7,7,8,0,0,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1623,1623,1,1,18,2,3,385,2,1,3,...,0,7,2,2,2,2,2,2,0,24
1624,1624,2,2,1,0,3,423,2,1,2,...,0,12,3,9,7,7,3,4,0,37
1625,1625,2,2,8,1,1,696,0,1,1,...,0,6,2,3,2,2,2,4,0,7
1626,1626,2,0,12,2,0,890,0,1,1,...,3,4,3,2,2,2,0,4,0,11
1627,1627,2,1,17,0,3,159,2,1,1,...,0,4,3,4,3,0,1,1,0,11

In [15]:
test_pred

array([[0.03, 0.97],
       [0.62, 0.38],
       [0.56, 0.44],
       ...,
       [0.01, 0.99],
       [0.45, 0.55],
       [0.93, 0.07]])

In [16]:
prediction = model.predict_proba(testdf[features])

ValueError: Boolean array expected for the condition, not int32

In [21]:
testdf.mask(mask.reindex(testdf.index, testdf.columns, fill_value=False), 999)

NameError: name 'mask' is not defined

In [18]:
from sklearn.metrics import accuracy_score,roc_auc_score,roc_curve
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()
rfc.fit(traindf[features],traindf[target])
predictions = rfc.predict(testdf[features])

ValueError: Boolean array expected for the condition, not int32